@font-face {
  font-family: 'Otomano';
  src: url(../../../../assets/Fonts/OtomanopeeOne-Regular.ttf);
}

.ketentacion{
  font-family: "Otomano" !important;
  color: #F5D75E !important;
  font-size: 22px !important;
  letter-spacing: 1.5px !important;
}

