.perfil{
  position: absolute;
  width: 265px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
}

hr{
  height: 2px;
  border: #a7a7a786 1px solid;
  margin:auto 25px 15px;
  width: 80%;
}

.foto-perfil{
  border-radius: 50%;
  max-width: 50px;
}


.perfil-info{
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
