.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

aside{
  background-color: black;
  height: 100%;
  max-width: 265px;
  padding: 25px 15px 15px 0;
}

.active svg path {
  fill: white; /* Color activo */
}
